
*{margin:0;padding:0;box-sizing:border-box;}
html{
    margin:auto;
    width: 1537pxpx;
    height: 858px;
    position:relative;
    background:url(fondo2.jpg) no-repeat 0 0;
}
#cuadrado{
    height: 400px;
    width: 400px;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    position: absolute;
    background:url('cuadro2.jpg') no-repeat 0 0;
 }